:root {
	/* colour pallate: https://coolors.co/bf1a2f-cbd4c2-454e9e-1e1b18-f6f740 */
	--black: #1E1B18;
	--white: #CBD4C2;
	--red: #BF1A2F;
	--blue: #454E9E;
	--yellow: #F6F740;
}

*, *::before, *::after {
	font-family: 'Noto Sans JP', sans-serif;
	background: var(--white);
	color: var(--black);
}

section {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 2rem;
}

header, #onFinish {
	padding: 2rem;
}

input {
	border-radius: .5rem;
}

body {
	padding: 0 !important;
	margin: 0 !important;
}

section:nth-child(1),section:nth-child(1) > * {
	background: var(--blue);
	color: var(--white);
}

section:nth-child(1) > input {
	border: 2px solid var(--white);
}

section:nth-child(1) > input:focus {
	outline: 2px solid var(--white);
}

section:nth-child(2), section:nth-child(2) > *, section:nth-child(2) > * > * {
	background: var(--yellow);
}

section:nth-child(3), section:nth-child(3) > *, section:nth-child(3) > * > * {
	background: var(--red);
	color: var(--white);
}

section:nth-child(3) > select > option {
	font-size: 1.2rem;
}

section:nth-last-child(1) {
	align-items: center;
}

input[type=submit] {
	width: 20rem;
	height: 5rem;
	font-size: large;
}